<!DOCTYPE HTML>
<html>

<head>
    <%- include ./partials/head.ejs %>
</head>

<body>
    <%- include ./partials/banner.ejs %>
    <div class="main">

        <div class="middle_content">
            <div class="container">
                <h2><%= data.title %></h2>
                <p><%= data.content %></p>
                


            </div>
        </div>

    </div>
    <%- include ./partials/footer.ejs %>
</body>

</html>