<!DOCTYPE HTML>
<html>

<head>
    <%- include ./partials/head.ejs %>
</head>

<body>
    <%- include ./partials/banner.ejs %>
    <div class="main">
        <div class="account-in">
            <div class="container">
                <form action="/user/<%= session.id %>/profile/editpost/<%= data.id %>" method="POST">
                    <div class="register-top-grid">
                        <h2>Edit Post</h2>
                        <div>
                            <span>Title<label>*</label></span>
                            <input type="text" name="title" value="<%=data.title %>">
                        </div>
                    </div>
                    <div class="clearfix"> </div>
                    <div class="clearfix"> </div>
                    <div class="register-bottom-grid">
                        <div>
                            <span>Content<label>*</label></span>
                            <textarea name="content" id="content" cols="75" rows="6" ><%=data.content %></textarea>
                            <input type="submit" value="Edit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <%- include ./partials/footer.ejs %>
</body>

</html>