<!DOCTYPE HTML>
<html>

<head>
    <%- include ./partials/head.ejs %>
</head>

<body>
    <%- include ./partials/banner.ejs %>
    <div class="main">

        <div class="middle_content">
            <div class="container">
                <h3>Welcome to GTimes</h3>
                <p><h3>ALL RECENT POSTS :</h3></p>
                <table style="width:100%">
                    <tr style="border: 1px solid black ;width: 100%;">
                        <th><center>Post Title </center></th>
                        <th><center>Posted By</center></th>
                        <th><center>Like</center></th>
                        
                    </tr>
                    <% data.forEach(elemen=>{ %>
                    <tr style="border: 1px solid black ;width: 100%;">
                        <td><a href="/user/listpost/<%= elemen.id %>"><%= elemen.title %></a></td>
                        <td>
                            <% elemen.Users.forEach(deepElemen=>{
                                if (elemen.UserId == deepElemen.id){ %>
                                    <%= deepElemen.username %>                                    
                            <% }}) %>                          
                        </td>
                        <td>
                            <% let like = 0 %>
                                <% elemen.Users.forEach(deepElemen=>{
                                    if (deepElemen.PostLike.Like == true){ %>
                                        <% like++ %>               
                                <% }}) %>
                                <%= like %>
                        </td>                        
                    </tr>
                    <% }) %>
                    
                </table>

                
                
            </div>
            <h3><a href="/user/<%= session.id %>/createpost">CREATE NEW POST</a></h3>
            <h3><a href="/user/<%= session.id %>/profile">MY CONTROL PANEL</a></h3>
        </div>

    </div>
    <%- include ./partials/footer.ejs %>
</body>

</html>