<!DOCTYPE HTML>
<html>
<head>
    <%- include ./partials/head.ejs %>
</head>
<body>
    <%- include ./partials/banner.ejs %>
    
   <div class="main">    
        <div class="account-in">
                <div class="container">
                    <%= err %>
                    <p style="color:red"><%= info %></p>
                <form action="/login" method="POST">
                    
                  <div class="register-top-grid">
                   <h2> LOGIN ACCOUNT </h2>
                  
                    <div>
                       <span>Email <label>*</label></span>
                       <input type="text" name="email"> 
                    </div>
                    <div>                        
                        <span>Password<label>*</label></span>
                        <input type="password" name="password"> 
                    </div>
                    
                    <button type="submit"> LOGIN !</button>                   
                </form>
              </div>
          </div>
   </div>
   <%- include ./partials/footer.ejs %>
</body>
</html>		