<!DOCTYPE HTML>
<html>

<head>
    <%- include ./partials/head.ejs %>
</head>

<body>
    <%- include ./partials/banner.ejs %>
    <div class="main">

        <div class="middle_content">
            <div class="container">
                <h2>Welcome to GTimes</h2>
                <table style="width:100%">
                    <tr style="border: 1px solid black ;width: 100%;">
                        <th >Post Title</th>
                        <th>Posting By</th>
                        <th>Like</th>
                        <th>Dislike</th>
                    </tr>
                    <% data.forEach(elemen=>{ %>
                    <tr style="border: 1px solid black ;width: 100%;">
                        <td><a href="/post/<%= elemen.id %>"><%= elemen.title %></a></td>
                        <td>
                            <% elemen.Users.forEach(deepElemen=>{
                                if (elemen.UserId == deepElemen.id){ %>
                                    <%= deepElemen.username %>                                    
                            <% }}) %>                          
                        </td>
                        <td>
                            <% let like = 0 %>
                                <% elemen.Users.forEach(deepElemen=>{
                                    if (deepElemen.PostLike.Like == true){ %>
                                        <% like++ %>               
                                <% }}) %>
                                <%= like %>
                        </td>
                        <td>
                                <% let dislike = 0 %>
                                <% elemen.Users.forEach(deepElemen=>{
                                    if (deepElemen.PostLike.Like == false){ %>
                                        <% dislike++ %>               
                                <% }}) %>
                                <%= dislike %>
                            </td>
                    </tr>
                    <% }) %>
                    
                </table>


            </div>
        </div>

    </div>
    <%- include ./partials/footer.ejs %>
</body>

</html>