<!DOCTYPE HTML>
<html>
<head>
    <%- include ./partials/head.ejs %>
</head>
<body>
	<%- include ./partials/banner.ejs %>
   <div class="main">
       <form action="/user/register" method="POST">
        <div class="account-in">
                <div class="container">
                   <form> 
                  <div class="register-top-grid">
                   <h2>REGISTER INFORMATION</h2>
                   <%= info %>
                   <%= err %>
                    <div>
                       <span>Username<label>*</label></span>
                       <input type="text" name="username"> 
                    </div>
                    <div>
                        <span>Email Address<label>*</label></span>
                        <input type="text" name="email"> 
                    </div>
                    <div class="register-bottom-grid">
                            <div>
                               <span>Password<label>*</label></span>
                               <input type="password" name="password">
                            </div>
                            <div>
                               <span>Confirm Password<label>*</label></span>
                               <input type="password" name="confirmpassword">
                            </div>
                            <div class="clearfix"> </div>
                            <div class="clearfix"> </div>
                    <div class="register-but">
                            <input type="submit" value="submit">                   
                    </div>
                 </form>
              
               </div>
              </div>
          </div>
        </form>

   </div>
   <%- include ./partials/footer.ejs %>
</body>
</html>		